body{
  background: rgb(245,245,245);
  color: #33708A;
  font-size: 33px;
  font-family: 'Oswald', sans-serif;
}
  

h1{
  font-family: 'Oswald', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 25px;
}
h2 {
  font-family: 'Oswald', sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 25px;
}
p{
  font-family: 'Oswald', sans-serif;
  color: #33708A;
  font-weight: bold;
  font-size: 20px;
 } 

a {
  color: black;

}
li {
  color: black;
  font-size: 19px;
}
a:hover {
  text-decoration: blink;
  color: #33708A;
  font-size: 28px;
}
#mentions {
  font-family: 'arial';
  color: black;
  font-weight: bold;
  font-size: 12px;
}
